/* google fonts */
.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.raleway-font {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

:root {
  --font-family: "Roboto", sans-serif;
  --second-family: "Raleway", sans-serif;
  --iris: rgba(77, 90, 229, 1);
  --ocean: rgba(64, 75, 191, 1);
  --navy-blue: rgba(46, 47, 66, 1);
  --green: rgba(49, 208, 170, 1);
  --slate: rgba(67, 68, 85, 1);
  --light-slate: rgba(142, 143, 153, 1);
  --corn-flower: rgba(231, 233, 252, 1);
  --cloud: rgba(244, 244, 253, 1);
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: rgba(255, 255, 255, 1);
  --dairy: rgba(252, 252, 252, 1);
}

body {
  font-family: var(--font-family);
  color: var(--navy-blue);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.global-header {
  background-color: var(--white);
  display: flex;
  width: 1440px;
  height: 72px;
}

.global-header .logo {
  font-family: "Raleway";
  font-size: 18px;
  font-weight: 800;
  color: var(--iris);
  width: 115px;
  height: 24px;
}

.global-header .logo::after {
  content: "STUDIO";
  color: var(--navy-blue);
}

.global-header .nav-menu {
  width: 261px;
  height: 24px;
}
.nav-menu-items {
  display: flex;
  justify-content: space-between;
}

.global-header .contact-info {
  display: flex;
  justify-content: flex-end;
}

.hero-container {
  width: 1440px;
  height: 600px;
}
.hero-container .hero-section {
  display: flex;
  background-color: var(--navy-blue);
  flex-direction: column;
  align-items: center;
  padding: 188px 472px;
  gap: 48px;
}
.hero-container .hero-section h1 {
  color: var(--white);
  width: 496px;
  height: 120px;
  font-weight: 700;
  font-size: 56px;
  line-height: 60px;
}

.hero-container .hero-section button {
  width: 169px;
  height: 56px;
  background-color: var(--iris);
  border-radius: 4px;
  padding: 16px 32px;
  gap: 10px;
  font-weight: 500px;
  font-size: 16px;
  line-height: 24px;
  color: var(--white);
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.hero-container .hero-section button:hover {
  background-color: var(--slate);
  color: var(--green);
}

.features-container {
  width: 1128px;
  height: 104px;
  margin: 120px 156px;
}

.features-container .features-list {
  display: flex;
}
.features-container .features-list h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.features-container .features-list li {
  color: var(--slate);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.section-two-container {
  width: 1128px;
  height: 412px;
  margin: 120px 156px;
}

.section-two-container .what-are-we-doing-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-two-container h2 {
  width: 323px;
  height: 40px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
}

.section-two-container .what-are-we-doing-section .section-two-list {
  display: flex;
  gap: 24px;
}

.section-two-container .what-are-we-doing-section .section-two-list li {
  width: 360px;
  height: 300px;
  border: 1px;
  border-style: solid;
  border-color: var(--corn-flower);
}

.our-team-container {
  width: 1440px;
  height: 732px;
  background-color: var(--cloud);
  margin-top: 120px;
}

.our-team-container .our-team-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.our-team-container .our-team-section h2 {
  width: 162px;
  height: 40px;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
}

.our-team-container .our-team-section .cards-list {
  display: flex;
  gap: 24px;
}
