/* google fonts */
.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}
/*  <uniquifier>: Use a uniquifier for the class name / <weight>: Use a value from 100 to 900 */

.raleway-uniquifier {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

:root {
  --text-font: "roboto-regular", sans-serif;
  --iris: rgba(77, 90, 229, 1);
  --ocean: rgba(64, 75, 191, 1);
  --navy-blue: rgba(46, 47, 66, 1);
  --green: rgba(49, 208, 170, 1);
  --slate: rgba(67, 68, 85, 1);
  --light-slate: rgba(142, 143, 153, 1);
  --corn-flower: rgba(231, 233, 252, 1);
  --cloud: rgba(244, 244, 253, 1);
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: rgba(255, 255, 255, 1);
  --dairy: rgba(252, 252, 252, 1);
}

body {
  font-family: var(--text-font);
  color: var(--navy-blue);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.global-header {
  background-color: rgba(231, 233, 252, 1);
}

.global-header .logo {
  font-family: "Raleway";
  font-size: 18px;
  font-weight: 800;
  color: var(--iris);
}

.global-header .logo::after {
  content: "STUDIO";
  color: var(--navy-blue);
}
